<mat-card class="fondo-card">
  <mat-card-header>
    <mat-card-title>{{ fondo.nombre }}</mat-card-title>
    <mat-card-subtitle>Categoría: {{ fondo.categoria }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>
      Monto mínimo: <strong>{{ fondo.montoMinimo | currency : "COP" }}</strong>
    </p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-stroked-button color="primary" (click)="onSuscribir()">
      Suscribirse
    </button>
    <button mat-stroked-button color="warn" (click)="onCancelar()">
      Cancelar
    </button>
  </mat-card-actions>
</mat-card>
